body { font-family:Tahoma, arial, sans-serif; }
input, textarea, select, span, label, #navigation { font-family:Tahoma, arial, sans-serif; }

a.more { padding-left: 11px; }
#header { padding-left: 33px; padding-left: 17px;  }
#logo { float:right; margin-right:5px; }
.search select { float: right; font-family: tahoma, arial, helvetica, serif; }
.search input.field { float: right; font-size: 11px; font-family: tahoma, arial, helvetica, serif; }
.search input.search-btn { float: right; margin-right: 3px;}
#navigation ul li { float: right; padding-left: 2px; }
#navigation ul li.first a { padding-right: 38px; }


.flex-control-nav { right: 480px; }
.main ul li { padding-right: 10px; }
.main .cols { padding-right: 5px; }
.main .cols .col { float: right; }
.main .cols .col + .col { padding-right: 20px; }
.main .cols { padding-right: 5px; padding-left: 0; }
.main .cols .col img { float: right; }
.main .post  { padding-right: 40px;  }
.main .post-cnt { float: right; }
.main .content  { float:right;} 
.main .content #content_list .box img {float: right; margin-left: 20px; }
.main .testimonial strong.quote { right: -6px; font-family: tahoma ,arial, helvetica, serif;}

.socials-inner {padding-right: 158px;}
.socials h3 { float: right; padding-left: 19px;}
.socials ul li { padding-left: 18px; float: right; }
.socials ul li a { padding-right: 28px;}
.socials ul li a span { right: 0; }

.footer-cols .col { float: right; }
.footer-cols .col + .col { padding-right: 54px;  }
.footer-cols .col ul li { padding-right: 9px;  }
.footer-bottom .footer-nav { float: right; }
.footer-bottom .footer-nav ul li { border-right: 1px solid #1a1f20; }
.footer-bottom .footer-nav ul li.first { padding-right: 0 }

/* #Media Queries
================================================== */

/* ipad portrait */
@media only screen and ( min-width: 768px) and ( max-width: 980px )
{
    .slider-holder span.slider-b { right: 0px;}
    #navigation ul li.first a { padding-right: 26px; }
    .flex-control-nav { right: 346px; }
	.slider ul.slides li { float: right; }
	.main .cols { padding-right: 30px; padding-left: 22px;   }
	.main .cols .col + .col { padding-right: 66px; }
	.main .post { padding-right: 20px ;  }
	.main section { padding-right: 20px; padding-left: 20px;  }
    .main .content  { float:right;} 
    .main .content #content_list .box img {float: right; margin-left: 20px;}
	.socials-inner { padding-right: 70px; }
	.footer-cols { padding-right: 40px; }
	.footer-cols .col + .col { padding-right: 28px; }
}

@media only screen and ( max-width: 767px) 
{
    #navigation ul { right: 0;}
    #navigation a.nav-btn { padding-right: 22px; }
	#navigation ul li.first a { padding-right: 26px; }
	.slider-holder span.slider-b { right: 0px;}
	.flex-control-nav { right: 130px; }	
	.slider ul.slides li .img-holder { right: 50%; margin-right: -145px;  }
	.main .cols .col + .col { padding-right: 0px; }
	.main .post  { padding-right: 20px; }
	.socials-inner { padding-right: 10px; }
	.footer-cols { padding-right: 10px; padding-left: 0; }
	.footer-cols .col + .col { padding-right: 0px; }
	/* The following Opposite Direction !Important */
	.slider ul.slides li .img-holder { left: 0px; }
	.slider ul.slides li .img-holder img { float:right;}
	.main .post .map-holder { margin-left: 0px;  }
    .main .side  { float:right;} 

}
/* The following Opposite Direction !Important */
@media only screen and ( max-width: 767px) 
{
    #navigation a.nav-btn span.arr { right: 14px; }
}

.flex-caption {right: 0;}
.flex-direction-nav li .prev {right: -40px;}
/** BEGIN content_list **/
#content_list .navigation {margin-right: 12px;}
#content_list .navigation a:hover {padding-right: 10px; margin-left: 1px;}
#contact-box table tr td span, label{ text-align:right;}
/** END content_list **/

/* The following Opposite Direction !Important */
.search { float: left; }

.main .cols .col-cnt { float: left; }
.main .side  { float:left;} 
.testimonial p.author { text-align: left; }
#navigation ul li { background: url(images/nav-border.png) no-repeat right 0; }
.main .post .map-holder { float: left; margin-left: 20px; }
.footer-bottom p.copy { float: left; }
.flex-direction-nav li .next {left: -40px;}




